/* BASE ---------------------------------------*/

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 60px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* NAVIGATION  ---------------------------------------*/
.site-logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 80px;
  height: 80px;
  margin: 0;
  z-index: 200;
}

.site-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

.site-nav-list,
.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav-item {
  float: left;
  width: 20%;
  height: 60px;
  padding: 0.75em;
  font-family: "Montserrat", "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
}

.site-nav-item > .fa {
  font-size: 1.75rem;
}

.site-nav-item:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.site-nav-item-label {
  display: block;
  margin-top: 0.5em;
}


/* MOVIES --------------------------------------- */
.movie {
  position: relative;
}

.movie-poster,
.movie-backdrop {
  display: block;
}

/*
  Hide the poster on mobile devices, only show backdrop
  TIP: Use media queries to reveal it on larger devices
*/
.movie-poster {
  display: none;
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  color: #ffffff;

  /*
    Linear gradients are a bit of an advanced CSS3 feature.
      As seen below you specify the linear-gradient as a value for
      the `background-image` property. It creates a gradient with as many stops
      as you care to define. To learn more about how it works, read this article
      and the related docs: https://medium.com/@patrickbrosset/do-you-really-understand-css-linear-gradients-631d9a895caf#.6yl8vdmiv
  */

  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.7) 100%);
}

/*
  Hide the overview on mobile devices
  TIP: Use media queries to reveal it on larger devices
*/
.movie-overview {
  display: none;
}

.movie-title-label {
  font-family: "Montserrat", "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  line-height: 1;
  text-transform: uppercase;
  color: gold;
  margin: 0;
}

.movie-title {
  margin: 0;
  font-size: 2em;
  line-height: 1.1;
}


/* FOOTER --------------------------------------- */
.site-footer {
  text-align: center;
}

.footer-nav {
  padding: 1em;
}

.footer-nav-item {
  display: inline-block;
  margin-right: 0.5em;
}

.footer-nav-item:last-child {
  margin-right: 0;
}


.about {
  background-color: #333333;
  color: #ffffff;
  padding: 1em;
}

.about > p {
  margin: 0;
}

/*-- EXPAND TO 768px ---------------------------------------*/
@media (min-width: 768px) {
  body {
    padding-bottom: 0;
  }
  .site-logo {
    width: 60px;
    top: 0.5rem;
    left: 0.5rem;
  }
  .site-nav {
    width: auto;
    height: 100%;
    right: auto;
    padding: 80px 0 0 0;
  }
  .site-nav-item {
    float: none;
    width: auto;
  }
  .site-nav-item > .fa {
    font-size: 2.2rem;
  }
  .movie-details {
    padding-left: 90px;
  }
  .movie-overview {
    display: inherit;
  }
  .footer-nav,
  .about {
    margin-left: 75px;
  }
}
